* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
.navBar {
    
    width:300px;
    height:auto;
    background: rgb(233, 233, 233);
}
.list {
    padding:20px 0px;
    list-style-type: none;
}
.list_item {
    text-align:center;
    padding:5px;
    font-weight:bold;
    font-size:24px;
}
.list_link {
    text-decoration: none;
    color:#000;
}