* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    padding:4% 6%;
    
}
header {
    text-align:center;
     
   
}

.list_link {
    color:#000;
    text-decoration: none;
    margin:1%;
    font-size:20px;
    padding:10px;
}
.header_button {
    background: #fff;
    border:2px solid #000;
    border-radius:5px;
    padding:10px 20px;
height:70px;
width:220px;
font-size:24px;
}
.header_button:hover {
    background: #000;
    color:#fff;
    cursor:pointer;
}

list {
    padding:18%;
}
main {
    padding:3%;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-position: 96% 42%;
}
main h1 {
    font-weight:600;
    width:500px;
    
    font-size:64px;
}
.text {
    color:#8F95A5;
    font-size:24px;
    line-height:36px;
    font-weight:normal;
    width:630px;
    margin-top:20px;
    margin-bottom:20px;
}
.main_button {
    color:#fff;
    background: #000;
    border-radius:15px;
    width:440px;
    height:118px;
    border:none;
    font-size:36px;
}
.main_button:hover {
    background:#fff;
    color:#000;
    border:2px solid #000;
    cursor:pointer;

}
.button_link_main {
    font-size:36px;
    color:#fff;
    text-decoration:none;
}
.light {
   float:right;
   margin-top:50px;
}
.background {
    
    float:right;
    vertical-align:top;
    margin-top:-30%;
}